// Basic Styles
// ================================================== //

body {
		background: #fff;
		font: 13px/15px $book;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
		margin:0;
		padding:0
}


// Typography
// ================================================== //

h1, h2, h3, h4, h5, h6{
		@include leger(15px,$bleu);
		margin-top:0;
    a {
        font-weight: inherit;
    }
}
.vco-storyjs .vco-feature h3, .vco-storyjs .vco-feature h4, .vco-storyjs .vco-feature h5, .vco-storyjs .vco-feature h6, .vco-slider .slider-item .content .content-container .text .container p {
	font-family: $leger !important;
	font-weight: 100 !important;
	color: $bleu
}
.vco-slider .slider-item .content .content-container .text .container p{
	color: black !important;
}
.vco-slider .nav-next .date, .vco-slider .nav-next .title, .vco-slider .nav-previous .date, .vco-slider .nav-previous .title, .vco-slider .slider-item .content .content-container .text .container h2.date{
	font-family: $book !important;
	font-weight: 300 !important;
	
}
h1 { font-size: 32px; line-height: 33px; margin-top:10px; margin-bottom: 10px;}
h2 { font-size: 26px; line-height: 30px; margin-bottom: 10px; }
h3 { font-size: 16px; line-height: 18px; margin-bottom: 8px}
h4 { font-size: 15px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 15px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }

body.realisation{
	h1{
		font-size: 33px;
	}
}

.subheader { color: #777; }

img{
	border: 0
}
p {
    margin: 0 0 6px 0; 
    
    img { 
        margin: 0; 
    }
    
    &.lead { 
        font-size: 21px; 
        line-height: 27px; 
        color: #777;  
    }

}


em     { font-style: italic; }
strong { font-weight: bold; color: #333; }
small  { font-size: 80%; }

/*	Blockquotes  */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


// Links
// ================================================== //

a, a:visited     { color: #333; text-decoration: none; outline: 0; }
a:hover, a:focus { color: #000; }
p a, p a:visited { line-height: inherit; }
