// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 16;
$column-width   : 40px;
$gutter-width   : 20px;
$grid-padding   : $gutter-width;
$container-style: static;
$show-grid-backgrounds  : true;

