@import url(reset.css);

/**
 * ProcesssWire.com site template stylesheet. Prepared for use in the basic site profile. 
 *
 * Please feel free to use and/or modify under the same license as ProcessWire.
 *
 * Copyright 2010 by Ryan Cramer Design, LLC
 *
 */

body {
  background: #e4ebee url(images/bg.gif) repeat-x;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  color: #2f4248; }

input, textarea, table {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  color: #2f4248; }

#masthead, #content, #footer {
  padding-right: 20px;
  padding-left: 20px; }

.container {
  position: relative;
  width: 85%;
  min-width: 920px;
  max-width: 1200px;
  margin: 0 auto; }

#masthead {
  background: none;
  height: 210px; }

#logo {
  position: absolute;
  left: 0;
  top: 44px;
  background: url(images/logo.gif);
  width: 179px;
  height: 25px;
  text-indent: -9999px; }

#title {
  font-size: 37px;
  color: #003051;
  position: absolute;
  top: 155px;
  left: 0; }

#bgtitle {
  position: absolute;
  top: 62px;
  left: 0;
  font-size: 162px;
  color: rgba(255, 255, 255, 0.2); }

#topnav {
  position: absolute;
  right: 250px;
  top: 3px;
  li {
    display: inline; }
  a {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #a7e5f9; } }

#sidebar ul.nav a, #breadcrumb a, a.nav {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #a7e5f9; }

#topnav a {
  display: block;
  float: left;
  margin: 0 0 0 1px;
  padding: 48px 10px 20px 10px;
  &:hover, &.on {
    color: #fff;
    background: url(images/topnav_a_bg.gif) top left repeat-x; } }

#breadcrumb {
  position: absolute;
  left: 0;
  top: 97px;
  li {
    color: #5197ae;
    font-size: 11px;
    display: inline;
    padding: 0 2px 0 0; }
  a {
    color: #005f7d;
    padding: 0 2px 0 0;
    &:hover {
      text-decoration: underline; } } }

#search_form {}

#search_query {
  position: absolute;
  top: 7px;
  right: 0;
  width: 222px;
  padding: 2px 5px;
  height: 17px;
  border: none; }

#search_submit {
  position: absolute;
  top: 7px;
  right: 0;
  border: none;
  background: url(images/btn-search.png) top left no-repeat;
  width: 27px;
  height: 21px;
  text-indent: -9999px;
  &:hover {
    background-position: center left;
    cursor: pointer; }
  &:focus {
    background-position: bottom left; } }

#masthead #photo {
  position: absolute;
  top: 34px;
  right: 0; }

#content {
  background: #f8f8f8;
  font-size: 14px;
  line-height: 1.7em;
  color: #333;
  padding-top: 0;
  padding-bottom: 4em;
  min-height: 400px;
  p, ul, ol, table {
    margin: 1em 0 1.5em 0; }
  a {
    color: #f00076;
    &:hover {
      background-color: #f00076;
      color: #fff;
      text-decoration: none; } }
  em {
    font-style: italic; }
  strong {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    color: #555; }
  h2, h3, h4 {
    margin-top: 1.5em;
    line-height: 1.3em; }
  h2 {
    color: #006fbb;
    font-size: 23px;
    margin-bottom: 0.5em; }
  h3 {
    color: #690033;
    font-size: 18px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: -0.5em;
    padding-bottom: 0.25em; }
  h2 + h3 {
    margin-top: 0; }
  h3 + {
    ul, ol {
      margin-top: 1.5em; } }
  h4 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase; }
  ol li {
    margin: 0 0 0 3em; }
  ul li {
    margin: 0 0 0 3em;
    display: list-item;
    list-style: disc; }
  ol li {
    margin: 0 0 0 3em;
    display: list-item;
    list-style: decimal; }
  ul.nav li {
    display: block;
    list-style: none;
    margin: 0;
    border-bottom: 1px dotted #ccc;
    a {
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-weight: bold;
      margin: 0; }
    p {
      margin: 1em 0; } }
  .disclaimer {
    font-size: 11px;
    line-height: 17px;
    color: #777; } }

#sidebar {
  position: relative;
  float: right;
  width: 232px;
  min-height: 200px;
  padding-bottom: 2em;
  h3 {
    border: none;
    color: #006fbb;
    font-size: 16px;
    + ul.nav {
      margin-top: 1em; } }
  #photo {
    display: block; }
  ul.nav {
    margin: 0 0 1em 0;
    li {
      margin: 0;
      border: none; }
    a {
      display: block;
      padding: 8px 10px 8px 15px;
      color: #005f7d;
      background: #d5e5eb;
      border-top: 1px solid #fff;
      &:hover, &.on {
        background: #db1174;
        color: #fff;
        text-decoration: none; } } }
  .sidebar_item {
    padding: 0 5px 0 14px;
    margin: 0 0 2em 0;
    border-left: 1px dotted #ccc; } }

#bodycopy {
  padding-right: 265px;
  padding-top: 1px;
  margin-top: 0;
  strong {
    color: #444; } }

#content #bodycopy > h2:first-child {
  margin-top: 1em; }

#bodycopy .video {
  margin: 1em 0;
  background: #000;
  padding: 10px;
  padding-bottom: 3px;
  width: 640px; }

#footer {
  clear: both;
  border: none;
  font-size: 11px;
  padding: 2em 0;
  p, a {
    color: #85aaba; }
  p {
    text-align: center; }
  a:hover {
    text-decoration: underline;
    color: #db1174; } }

/**
 * The edit link that appears when you are logged in.
 * It is recommended that you implement an edit button 
 * in your templates to make it easy to switch to and
 * from the admin control panel when editing pages. 
 *
 */

#editpage {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 6px;
  background: #db1174;
  color: #fff;
  display: block;
  font-weight: bold;
  &:hover {
    background: #ffffcc;
    color: #000; } }

/**
 * Alignment styles that are used by the InputfieldTinyMCE for 
 * positioning images in bodycopy. If you are using this field type, 
 * you may want to include these or similar styles in your site.
 *
 */

.align_left {
  float: left;
  margin: 0 1em 0.25em 0; }

.align_right {
  float: right;
  margin: 0 0 0.25em 1em; }

.align_center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/**
 * Optional CSS classes specific to the FieldtypeComments module
 * when used in this site design template. 
 *
 */

#content {
  .CommentList {
    margin: 1em 0 0 0; }
  .CommentListItem {
    list-style: none;
    margin: 0;
    border-left: 5px solid #ddd;
    border-top: 1px dotted #ccc;
    padding: 1em 0 1px 1em;
    background: #fff;
    p {
      margin-top: 0; } }
  .CommentHeader {
    margin: 0;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3786bc; } }

#CommentForm label {
  margin: 0;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3786bc; }

#content .CommentText {
  color: #666; }

#CommentForm {
  h3 {
    margin: 0;
    border: none; }
  label {
    display: block;
    color: #f00076;
    color: #999; }
  p {
    margin: 0.5em 0; } }

.CommentForm_cite, .CommentForm_email {
  float: left; }

.CommentForm_cite input, .CommentForm_email input {
  width: 200px;
  margin-right: 1em; }

.CommentForm_text {
  clear: left;
  textarea {
    padding: 2px;
    width: 75%;
    height: 100px; } }

#CommentForm {
  .error {
    background: #a30000;
    color: #fff;
    padding: 0.25em 0.5em; }
  .success {
    font-weight: bold; } }

/**
 * WireFatalError is a class that ProcessWire will use to output
 * fatal errors in the design, but only if debug mode is on, or if
 * you are logged in as a superuser. 
 *
 */

.WireFatalError {
  background: #a30000;
  color: #fff;
  padding: 1em;
  position: relative;
  z-index: 9999; }
