// Rounded corners mixin.
@mixin rounded_corners($top: 10px, $right: 10px, $bottom: $top, $left: $right) {
  	border:1px solid $grisFonce;
  	border-radius: $top $right $bottom $left;
  	-moz-border-radius: $top $right $bottom $left;
  	-webkit-border-top-left-radius: $top;
  	-webkit-border-top-right-radius: $right;
  	-webkit-border-bottom-left-radius: $bottom;
  	-webkit-border-bottom-right-radius: $left; }

@mixin laLargeur{
	margin:0 auto;
	width: $largeurPrincipale
}

@mixin leger($grosseur: 14px, $couleur: #000000){
	font-family: $leger;
	font-size: $grosseur;
	color: $couleur;
	font-weight: 100
}
@mixin regulier($grosseur: 14px, $couleur: #000000){
	font-family: $book;
	font-size: $grosseur;
	color: $couleur;
	font-weight: 300
}

@mixin fort($grosseur: 14px, $couleur: #000000){
	font-family: $gras;
	font-size: $grosseur;
	color: $couleur;
	font-weight: 700
}
