// Typography
// -------------------------------------------------- //

$leger : "allumi-std-n1","allumi-std",sans-serif;
$book : "allumi-std-n3","allumi-std",sans-serif;
$gras : "allumi-std-n7","allumi-std",sans-serif;
$sans-serif  : Helvetica, Arial, sans-serif;


// Couleurs
// -------------------------------------------------- //
$bleu: rgba(38,80,120,1);
$orange: rgba(255,102,51,1);
$vert: rgba(111,183,43,1);
$grisFonce: rgba(162,162,162,1);
$grisActif: rgba(150,150,150,1);
$grisPale: #DCDCDC;
$rouge: #990000;
$gris: rgba(237,237,237,1);
$noir: rgba(0,0,0,1);
$grisFonce: #666666;
$couleurSpiegel: #7395c5;
$fonteAlternative: Verdana, Geneva, sans-serif;
$default-box-shadow-blur: 5px;
$default-box-shadow-h-offset: 5px;
$default-box-shadow-v-offset: 4px;
$default-box-shadow-color: $grisPale;
$zone1: 48em;
$largeurPrincipale: 960px;
