// ---------------------------------------------------------------------------
// Imports
@import "compass";
@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/basetype";
/* @import "partials/main"; */



/* -------------------------------------------------------------------------*/
/* Layout */

.omega, .fin{
	margin-right: 0
}
a{
	color: $bleu;
	&:visited{	color: $bleu;}
	&:hover{
		@include opacity(.6)	}
	.presentation &{
		color: $rouge
	}
}
.survol{
		@include opacity(.6);
	
}
.uneCol{
	@include span-columns(1,$total-columns);
}

.deuxCol{
	@include span-columns(2,$total-columns);
}

.troisCol{
	@include span-columns(3,$total-columns);
}

.quatreCol{
	@include span-columns(4,$total-columns);
}

.cinqCol{
	@include span-columns(5,$total-columns);
}

.sixCol{
	@include span-columns(6,$total-columns);
}
.septCol{
	@include span-columns(7,$total-columns);
}
.huitCol{
	@include span-columns(8,$total-columns);
}
.neufCol{
	@include span-columns(9,$total-columns);
}

.dixCol{
	@include span-columns(10,$total-columns);
}

.onzeCol{
	@include span-columns(11,$total-columns);
}
.douzeCol{
	@include span-columns(12,$total-columns);
}
.treizeCol{
	@include span-columns(13,$total-columns);
}
.quatorzeCol{
	@include span-columns(14,$total-columns);
}
.quinzeCol{
	@include span-columns(15,$total-columns);
}
.seizeCol{
	@include span-columns(16,$total-columns);
	margin-right: 0;
}

.uneCol, .deuxCol, .troisCol, .quatreCol, .cinqCol, .sixCol, .septCol, .huitCol, .neufCol, .dixCol, .onzeCol, .douzeCol, .treizeCol, .quatorzeCol, .quinzeCol, .seizeCol{
	&.fin{
		margin-right: 0
	}
}

.finQuinze{
	@include post(15,$total-columns);

}
.finQuatorze{
	@include post(14,$total-columns);
}
.finTreize{
	@include post(13,$total-columns);
}
.finDouze{
	@include post(12,$total-columns);
}
.finOnze{
	@include post(11,$total-columns);
}
.finDix{
	@include post(10,$total-columns);
}
.finNeuf{
	@include post(9,$total-columns);
}
.finHuit{
	@include post(8,$total-columns);
}
.finSept{
	@include post(7,$total-columns);
}
.finSix{
	@include post(6,$total-columns);
}
.finCinq{
	@include post(5,$total-columns);
}
.finQuatre{
	@include post(4,$total-columns);
}
.finTrois{
	@include post(3,$total-columns);
}
.finDeux{
	@include post(2,$total-columns);
}
.finUn{
	@include post(1,$total-columns);
}


.debutQuinze{
	@include pre(15,$total-columns);

}
.debutQuatorze{
	@include pre(14,$total-columns);
}
.debutTreize{
	@include pre(13,$total-columns);
}
.debutDouze{
	@include pre(12,$total-columns);
}
.debutOnze{
	@include pre(11,$total-columns);
}
.debutDix{
	@include pre(10,$total-columns);
}
.debutNeuf{
	@include pre(9,$total-columns);
}
.debutHuit{
	@include pre(8,$total-columns);
}
.debutSept{
	@include pre(7,$total-columns);
}
.debutSix{
	@include pre(6,$total-columns);
}
.debutCinq{
	@include pre(5,$total-columns);
}
.debutQuatre{
	@include pre(4,$total-columns);
}
.debutTrois{
	@include pre(3,$total-columns);
}
.debutDeux{
	@include pre(2,$total-columns);
}
.debutUn{
	@include pre(1,$total-columns);
}
.enveloppe {
 	@include container;
 	position: relative;
	background-repeat: no-repeat;
 	body.frontale &{
		background-image: image-url('fond.jpg');
		background-position: 10px 275px;
	}
	body.interieure &{
		background-image: image-url('fond_interieur.jpg');
		background-position: 10px 0;
	}
}
.suzy{
 /* 		@include susy-grid-background; */
 		min-height: 800px;
}
.tiers{
 width: 33.33%;
 float: left;
 margin:0;
 padding-bottom: 30px;
 display: inline;
}

#bandeauSup{
	@extend .seizeCol;
	width: $largeurPrincipale;
	margin-left:-10px;
	body.frontale &{
	height: 400px;
	}
}
#bandeauInf{
	width: 100%;
	position:absolute;
	background-image: image-url('large_bureau.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
	bottom:70px;
	img{
		width: 1020px;
		margin:0 auto;
		display: block;
		body.administration &{
		display:none
	}
	}
}
#irene{
	margin-left: 136px	;
	body.interieure &{
		@extend .colSix;
		@extend .finDeux;
		margin-left:10px;
		margin-top:15px;
	}
}
.contenu{
	@extend .seizeCol;
	min-height: 500px;
	padding-bottom: 30px;
}
#topnav{
	@extend .seizeCol;
	margin-top:0;
	padding-top:0;
}
#medaillon{
	position: absolute;
	top:300px;
	left:416px
}

#footer{
	@extend .seizeCol;
	font-size: 10px;
	color: $bleu;
	border-top: 2px dotted $bleu;
	padding-top: 10px;
}
.titre{
	@extend .seizeCol;
}
#ariane{
	@extend .seizeCol;
	color:white;
	@include horizontal-list(0);
	ul{
		margin:0;
		padding:0;
		height: 25px;
		li{
			a{
				color: white
				};
			font-weight: 400;
			border-left: 1px solid white;
			font-size: 12px;
			background-color: $bleu;
			height: 13px;
			padding-top:3px;
			padding-right: 10px;
			padding-bottom: 8px;
			padding-left:10px;
			&:first-child{
				border-left: none;
				padding-left:10px;
			}
			&:last-child{
				padding-right:10px;
 				background-color: #c6dec4; 
  				color: $bleu;
 			}
		}
	}
	margin-top:15px;
	height: 25px;
	margin-left: -10px;
	margin-bottom: 10px
}	
#navigationInterieure{
	position: absolute;
	@extend .neufCol;
	height: 50px;
	padding-top: 10px;
	a{
		color: white
	}
	div{
		float:left;
		width: 33%;
	}
	ul{margin:0;padding:0}
	li{list-style: none}
}

#topnav{
	position: relative;
	body.frontale &{
		font-size: 16px;
		text-transform: uppercase;
		@include opacity(.8);
		div{
			padding-top:30px;
			background-image: image-url('fleur.png');
			background-repeat: no-repeat;
			color: $bleu;
			position:absolute;
			width: 150px;
			height: 200px;
			text-align: center;
/* 			border-bottom: 1px dotted black; */
			a{
				color: $bleu
			}
		}
		#menu01, #menu4{
			top:-10px
		}
		#menu01{
			left:20px
		}
		#menu04{
			right:20px;
		}
		#menu02, #menu03{
			top:10px;
		}
		#menu02{
			left: 220px;
		}
		#menu03{
			right: 220px;
		}
		#menu05{
			display: none
		}
	}
}

#editpage{
	color:$rouge;
	font-weight: 700
}

#texte{
	float:left;
	width: 49%
}

#json, #source, .inv, .sCt{
	display:none
}
#colG{
	margin-top:15px;
	margin-left:10px;
	@include span-columns(3,16);
	margin-right:10px;
}
#colD{
	@include span-columns(13,16);
	margin-right: 0;
	.texteM, #mosaique{
		clear: both;
		width:760px;
		margin-right: 0;
	}
	}

.ct, .ct2{
	position: relative;
	@include clearfix;
	margin-left:-10px;
	border-bottom: 1px solid $bleu;
	background-color: white;
	font-size: .95em;
	line-height: 1.1em;
	@include opacity(.9);
	padding: 2px 2px 4px 2px;
}
.ct2{
	margin-left:10px;
	border-bottom: 1px dotted $bleu
}
.sCt2{
	margin-top:3px;
}
div.ppt{
	font-size: 14px;
}
div.pp_default .pp_nav, .pp_nav{
	width: 125px;
	margin-bottom: 5px;
	background-color: grey;
	@include border-radius(4px, 4px);
	.currentTextHolder{
		color: white;
		}
}
a.pp_arrow_previous, a.pp_arrow_next{
		margin-top:5px;
}

.enveSec{
	width: 700px;
	float: left;
	.sectionPhoto{
		position: relative;
		margin-top:5px;
		h3{position: absolute;
			width: 100%;
			background-color: white;
			border-top:1px solid $bleu;
			padding-bottom: 3px;
			padding-top: 3px;
		}
		float:left;
		width: 152px;
		margin-right:5px;
		img{
			border: 1px solid $gris
		}
	}
}

.retour{
	width: 60px;
	background-color: $bleu;
	margin-left:-10px;
	text-align: center;
	margin-bottom: 5px;
	padding:1px 1px 2px 1px;
	font-size: 10px;
	a{
		color:white
	}
}
