body {
  background: #fff;
  font: 13px/15px "allumi-std-n3", "allumi-std", sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "allumi-std-n1", "allumi-std", sans-serif;
  font-size: 15px;
  color: #265078;
  font-weight: 100;
  margin-top: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

.vco-storyjs .vco-feature h3, .vco-storyjs .vco-feature h4, .vco-storyjs .vco-feature h5, .vco-storyjs .vco-feature h6, .vco-slider .slider-item .content .content-container .text .container p {
  font-family: "allumi-std-n1", "allumi-std", sans-serif !important;
  font-weight: 100 !important;
  color: #265078;
}

.vco-slider .slider-item .content .content-container .text .container p {
  color: black !important;
}

.vco-slider .nav-next .date, .vco-slider .nav-next .title, .vco-slider .nav-previous .date, .vco-slider .nav-previous .title, .vco-slider .slider-item .content .content-container .text .container h2.date {
  font-family: "allumi-std-n3", "allumi-std", sans-serif !important;
  font-weight: 300 !important;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 8px;
}

h4 {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 4px;
}

h5 {
  font-size: 15px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 21px;
}

body.realisation h1 {
  font-size: 33px;
}

.subheader {
  color: #777;
}

img {
  border: 0;
}

p {
  margin: 0 0 6px 0;
}
p img {
  margin: 0;
}
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
  color: #333;
}

small {
  font-size: 80%;
}

/*	Blockquotes  */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}

blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

a, a:visited {
  color: #333;
  text-decoration: none;
  outline: 0;
}

a:hover, a:focus {
  color: #000;
}

p a, p a:visited {
  line-height: inherit;
}

/* @import "partials/main"; */
/* -------------------------------------------------------------------------*/
/* Layout */
.omega, .fin {
  margin-right: 0;
}

a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

.survol {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

.uneCol {
  width: 4.25532%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.deuxCol {
  width: 10.6383%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.troisCol {
  width: 17.02128%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.quatreCol {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.cinqCol {
  width: 29.78723%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.sixCol {
  width: 36.17021%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.septCol {
  width: 42.55319%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.huitCol {
  width: 48.93617%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.neufCol, #navigationInterieure {
  width: 55.31915%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.dixCol {
  width: 61.70213%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.onzeCol {
  width: 68.08511%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.douzeCol {
  width: 74.46809%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.treizeCol {
  width: 80.85106%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.quatorzeCol {
  width: 87.23404%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.quinzeCol {
  width: 93.61702%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.seizeCol, #bandeauSup, .contenu, #topnav, #footer, .titre, #ariane {
  width: 100%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  margin-right: 0;
}

.uneCol.fin, .deuxCol.fin, .troisCol.fin, .quatreCol.fin, .cinqCol.fin, .sixCol.fin, .septCol.fin, .huitCol.fin, .neufCol.fin, .fin#navigationInterieure, .dixCol.fin, .onzeCol.fin, .douzeCol.fin, .treizeCol.fin, .quatorzeCol.fin, .quinzeCol.fin, .seizeCol.fin, .fin#bandeauSup, .fin.contenu, .fin#topnav, .fin#footer, .fin.titre, .fin#ariane {
  margin-right: 0;
}

.finQuinze {
  margin-right: 95.74468%;
}

.finQuatorze {
  margin-right: 89.3617%;
}

.finTreize {
  margin-right: 82.97872%;
}

.finDouze {
  margin-right: 76.59574%;
}

.finOnze {
  margin-right: 70.21277%;
}

.finDix {
  margin-right: 63.82979%;
}

.finNeuf {
  margin-right: 57.44681%;
}

.finHuit {
  margin-right: 51.06383%;
}

.finSept {
  margin-right: 44.68085%;
}

.finSix {
  margin-right: 38.29787%;
}

.finCinq {
  margin-right: 31.91489%;
}

.finQuatre {
  margin-right: 25.53191%;
}

.finTrois {
  margin-right: 19.14894%;
}

.finDeux, body.interieure #irene {
  margin-right: 12.76596%;
}

.finUn {
  margin-right: 6.38298%;
}

.debutQuinze {
  margin-left: 95.74468%;
}

.debutQuatorze {
  margin-left: 89.3617%;
}

.debutTreize {
  margin-left: 82.97872%;
}

.debutDouze {
  margin-left: 76.59574%;
}

.debutOnze {
  margin-left: 70.21277%;
}

.debutDix {
  margin-left: 63.82979%;
}

.debutNeuf {
  margin-left: 57.44681%;
}

.debutHuit {
  margin-left: 51.06383%;
}

.debutSept {
  margin-left: 44.68085%;
}

.debutSix {
  margin-left: 38.29787%;
}

.debutCinq {
  margin-left: 31.91489%;
}

.debutQuatre {
  margin-left: 25.53191%;
}

.debutTrois {
  margin-left: 19.14894%;
}

.debutDeux {
  margin-left: 12.76596%;
}

.debutUn {
  margin-left: 6.38298%;
}

.enveloppe {
  *zoom: 1;
  width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-repeat: no-repeat;
}
.enveloppe:after {
  content: "";
  display: table;
  clear: both;
}
body.frontale .enveloppe {
  background-image: url('../styles/images/fond.jpg?1375306642');
  background-position: 10px 375px;
}
body.interieure .enveloppe {
  background-image: url('../styles/images/fond_interieur.jpg?1375381719');
  background-position: 10px 0;
}

.suzy {
  /* 		@include susy-grid-background; */
  min-height: 800px;
}

.tiers {
  width: 33.33%;
  float: left;
  margin: 0;
  padding-bottom: 30px;
  display: inline;
}

#bandeauSup {
  width: 960px;
  margin-left: -10px;
}
body.frontale #bandeauSup {
  height: 400px;
}

#bandeauInf {
  width: 100%;
  position: absolute;
  background-image: url('../styles/images/large_bureau.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  bottom: 70px;
}
#bandeauInf img {
  width: 1020px;
  margin: 0 auto;
  display: block;
}
body.administration #bandeauInf img {
  display: none;
}

#irene {
  margin-left: 136px;
}
body.interieure #irene {
  margin-left: 10px;
  margin-top: 15px;
}

.contenu {
  min-height: 300px;
}

#topnav {
  margin-top: 0;
  padding-top: 0;
}

#medaillon {
  position: absolute;
  top: 300px;
  left: 416px;
}

#footer {
  font-size: 10px;
  color: #265078;
  border-top: 2px dotted #265078;
  padding-top: 10px;
}

#ariane {
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 15px;
  height: 25px;
  margin-left: -10px;
  margin-bottom: 10px;
}
#ariane li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
#ariane li:first-child, #ariane li.first {
  padding-left: 0;
}
#ariane li:last-child {
  padding-right: 0;
}
#ariane li.last {
  padding-right: 0;
}
#ariane ul {
  margin: 0;
  padding: 0;
  height: 25px;
}
#ariane ul li {
  font-weight: 400;
  border-left: 1px solid white;
  font-size: 12px;
  background-color: #265078;
  height: 13px;
  padding-top: 3px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
}
#ariane ul li a {
  color: white;
}
#ariane ul li:first-child {
  border-left: none;
  padding-left: 10px;
}
#ariane ul li:last-child {
  padding-right: 10px;
  background-color: #c6dec4;
  color: #265078;
}

#navigationInterieure {
  position: absolute;
  height: 50px;
  padding-top: 10px;
}
#navigationInterieure a {
  color: white;
}
#navigationInterieure div {
  float: left;
  width: 33%;
}
#navigationInterieure ul {
  margin: 0;
  padding: 0;
}
#navigationInterieure li {
  list-style: none;
}

#topnav {
  position: relative;
}
body.frontale #topnav {
  font-size: 15px;
}
body.frontale #topnav div {
  color: #265078;
  position: absolute;
  width: 150px;
  height: 20px;
  text-align: center;
  /* 			border-bottom: 1px dotted black; */
}
body.frontale #topnav div a {
  color: #265078;
}
body.frontale #topnav #menu01, body.frontale #topnav #menu4 {
  top: -10px;
}
body.frontale #topnav #menu01 {
  left: 20px;
}
body.frontale #topnav #menu04 {
  right: 20px;
}
body.frontale #topnav #menu02, body.frontale #topnav #menu03 {
  top: 10px;
}
body.frontale #topnav #menu02 {
  left: 220px;
}
body.frontale #topnav #menu03 {
  right: 220px;
}
body.frontale #topnav #menu05 {
  display: none;
}

#editpage {
  position: fixed;
  bottom: 50px;
  left: 0;
  background-color: #990000;
  color: white;
  width: 50px;
  height: 20px;
  text-align: center;
  font-size: 13px;
}

#texte {
  float: left;
  width: 49%;
}

#json, #source {
  display: none;
}
